pp# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/

# MIDI files
*.mid

# Test files
test_*.py
*_test.py
tests/
pytest_cache/
.coverage
htmlcov/
.pytest_cache/

# Old and backup files
*.old
*.bak
*.backup
*~
*.swp
*.swo

test_fluidsynth.py

# Specific test and old files
ui/old-main_window.py
godzillatest.py
old-note_display.py
report.txt

example.md

check.py 

build/
dist/
app.spec
*.spec
*.pth
pythonpackages/