# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/

# MIDI files
*.mid


test_fluidsynth.py

build/
dist/
app.spec
*.spec
